body {
    background-color:crimson;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color:gray;
    text-align: center;
}

.projects { 
     display:flex;
     flex-wrap:wrap;
 } 
.project {
    width: 70%;
    margin: 30px;
    padding: 70px 40px;
    background: white; /* pick a color */
    border-radius: 30%;
}