
body {
    font-family: 'Times New Roman', Times, serif;
    background:url("images/background.jpg");
    background-size: cover;

}

    a {
    color:rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

#content{
    color:navy;
    
}
/*Typography*/
#main-header h1{
    text-align: center;
}