
body {
    font-family: 'Times New Roman', Times, serif;
    background:url("images/background.jpg");
    background-size: cover;
    color:navy;
}

    a {
    color:rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

#main-content{
    padding: 5px;

    .col1of2{
        background-color: bisque;
        padding: 5px;
        margin: 5px;
        border-radius: 5px navy ;
        text-align: center;
    }
}

/* Typography */
h3, h2 {
    text-align: center;
}
#main-header h1{
    text-align: center;
}

/*Larger Resolution */
@media (min-width:900px) {
   #main-nav ul, #flex-container{
    display: flex;
   }
    .col1of2{
    flex: 1;
   }
}